#main {
  display: flex;
  flex-direction: column;
  width: 1248px;
  margin: auto;
  height: 100vh;
}

#question {
  font-weight: 700;
  font-size: 3em;
  margin-top: 18px;
}

#question,
#abacus-holder {
  text-align: center;
}

#abacus-holder {
  position: relative;
  height: 600px;
}

#sum-holder {
  font-size: 2em;
  top: 50px;    
  position: relative;  
  text-align: center;    
  left: 0;
  bottom: 0;
  right: 0;
}

#abacus {
  height: 449px;
  width: 1248px;
  border: 17px solid wheat;
  margin: auto;
  position: absolute;
  top: 114px;
  left: 0;
  bottom: 0;
  right: 0;
}

#place-value {
  width: 1248px;
  margin: auto;
  position: absolute;
  top: 650px;  
  bottom: 0;  
  padding: 0 30px;
  font-size: 2em;
}

#place-value tr {
}

#place-value tr td {
}

#abacus tr {
  background-color: wheat;
  border: 1px solid tan;
  display: inline-block;
  margin: 0 64px;
  height: 390px;
  margin-bottom: -3px;
  width: 17px;
  padding-top: 60px;
}

#abacus td {
  margin-left: -52px;
  height: 60px;
  width: 120px;
  position: relative;
  background-color: brown;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: inset 10px 10px 8px -5px rgba(252, 171, 171, 0.6),
    inset -10px -10px 8px -6px rgba(176, 65, 65, 0.91);
  -moz-box-shadow: inset 10px 10px 8px -5px rgba(252, 171, 171, 0.6),
    inset -10px -10px 8px -6px rgba(176, 65, 65, 0.91);
  box-shadow: inset 10px 10px 8px -5px rgba(252, 171, 171, 0.6),
    inset -10px -10px 8px -6px rgba(176, 65, 65, 0.91);
}

#abacus td.separator {
  width: 185px;
  height: 17px;
  background-color: wheat;
  border-radius: 0;
  box-shadow: none;

  margin-bottom: 60px;
  margin-left: -84px;
}

#abacus td.upper {
  position: relative;
  top: -60px;
}

#sum {
  display: inline-block;
  width: 50px;
  height: 20px;
  font-family: sans-serif;
  font-size: 12px;
  padding-top: 7px;
  margin-left: -20px;
  border: 1px solid grey;
}

#reset {  
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: wheat;
  border: none;
  border-radius: 15px 15px 0 0;
  
}

#reset:hover {background-color: wheat}

#reset:active {
  background-color: wheat;
  transform:translateY(4px);
}

.tooltip {    
    position:relative;    
}

.tooltip .left {
    min-width:200px; 
    top:0;
    right:5%;
    margin-right:20px;   
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .left {
    visibility:visible; opacity:1;
}

.tooltip .left i {
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .left i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}