@import url(https://fonts.googleapis.com/css?family=PT+Sans);

main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;    
}

.link {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
}

.github {        
  left: 133px;
  top: 86px;
}

.linkedin {
  font-family: "Arial"; 
  left: 303px;
  top: 291px;
  font-size: 2.5em;
  font-weight: 900;
  color: white; 
}

.abacus-frame {
    background: url(../images/abacus-frame.svg);
    background-repeat: no-repeat;
    min-width: 500px;
    height: 500px;
    position: relative;
    /* top: calc((100vh - 25em) / 2); */
    /* position: fixed; */
    margin-right: 100px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    right: -300px;
  }

  to {
    right: 0;
  }
}

.highlight {
    font-size: 15em;
    background: url(../images/brush-stroke.png);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 8px 0;        
    -webkit-animation: brushstroke 1.6s ease-in-out alternate;
    -moz-animation: brushstroke 1.6s ease-in-out alternatee;
    animation: brushstroke 1.6s ease-in-out alternate;
    /* -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  -moz-animation: bigcircle 1.6s ease-in-out alternatee;
  animation: bigcircle 1.6s ease-in-out alternate; */
}

@keyframes brushstroke {
  0%   {background-size: 0 0;}  
  50%  {background-size: 0 0;}  
  100% {background-size: 100% 100%;}
}

.big-circles {
  position: absolute;
  width: 50%;
  height: 50%;
  animation: infinite-rotation 125s infinite;
  top: 30%;
  left: 40%;
}

.big-circle {
  position: inherit;
  display: block;
  width: 200px;
  height: 200px;
  background: #3D6DEB;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 125px;
  -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  -moz-animation: bigcircle 1.6s ease-in-out alternatee;
  animation: bigcircle 1.6s ease-in-out alternate;
}

.big-circle:nth-child(1) {
  top: 25%;
  left: 25%;
  cursor: pointer;
  opacity: 0.75;
}

.big-circle:nth-child(2) {  
  top: 65%;
  left: 65%;
  cursor: pointer;
  opacity: 0.75;
}

.big-circle:nth-child(3) {  
  top: 37%;
  left: 63%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  opacity: 0.75;
}

@keyframes bigcircle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.big-cirlce-free-mode, .big-cicle-challenge {
  position: relative;  
}

.big-cicle-challenge span {
  position: absolute;
  font-size: 2.5em;
  top: 68px;
  left: 17px;
  -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  -moz-animation: bigcircle 1.6s ease-in-out alternatee;
  animation: bigcircle 1.6s ease-in-out alternate; 
  cursor: pointer; 
}

.big-circle-free-mode span {
  position: absolute;
  font-size: 2em;
  top: 72px;
  left: 25px;
  -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  -moz-animation: bigcircle 1.6s ease-in-out alternatee;
  animation: bigcircle 1.6s ease-in-out alternate;
  cursor: pointer;
}

