main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;    
}

.container {
    width: 70%;
    height: 60%;
    border: 5px solid white;        
    position: absolute;
    margin: 0 auto;
    top: 50%;    
    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.col-2-3 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.col-1-3 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#abacus-frame {
    max-width: 500px;
    max-height: 349px;
    width: 70%;    
}

#setting {
    border: 5px solid white;  
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

